{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/icon-font.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}">
    
    <title>Spam Detection | Test your sms</title>
</head>
<body>
    <header class="header header-spam">
        <div class="header__logo-box">
            <a class="header__logo" href="{% url 'home' %}">
                &larr;
            </a>
        </div>
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Spam Detector</span>
            </h1>
        </div>
    </header>
    <main>  
        <div class="spam-form__heading u-margin-top-med">
            <h2 class="heading-secondary--2">
                Enter Your SMS
            </h2>
            <h2 class="{{ classes }}" style="display: block;">
                {{ prediction }}
            </h2>
        </div>
        <form action="{% url 'predict' %}">
        <div class="spam-form">
            <textarea  type="text" placeholder="Enter message" class="spam-form__textarea" name="fulltext"></textarea>
        </div>
        <div class="u-center-text u-margin-top-small">
            <input type="submit" class="btn-text--secondary__input" value="Predict &rarr;">
        </div>
        </form>
    </main>
</body>
</html>